<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Index page</title>
</head>
<body>
     <h3>Index</h3>
     <a href="{% url 'random_string' %}">Create Random String</a>
     <p>Sessio counter = {{request.session.count}}</p>
     <a href="{% url 'delete_session' %}">Delete Session Counter</a>
</body>
</html>



<!-- dlets test it -->
