<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <title>Home</title>
</head>
<body>
     <h1>Welcome {{request.session.username}}. You are logged in.</h1>
     <h3>This is a list of everyone in the database</h3>
     <h4>This has no delete function</h4>


     {% if messages %}
          <ul class="messages">
         {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endfor %}
         </ul>
     {% endif %}

     {% for user in users %}

          <h3>User {{user.id}}</h3>
               <ul>
                    <li>First Name: {{user.first_name}}</li>
                    <li>Last Name: {{user.last_name}}</li>
                    <li>Email: {{user.email}}</li>
                    <li>Username: {{user.username}}</li>
               </ul>
          <br>

     {% endfor %}

     <a href="{% url 'login:log_out' %}">Logout</a>
</body>
</html>
