<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

     <title>Index</title>
</head>
<body>
     {% if request.session.user %}
          <h1>Welcome {{request.session.user}}</h1>
     {% endif %}
     <h3>Index page: Will have a table of the users that I add</h3>

     <table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Full Name</th>
      <th scope="col">Email</th>
      <th scope="col">Created At</th>
      <th scope="col">Hashed PW</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
       {% for user in users %}
         <tr>

           <td>{{user.id}}</th>
           <td>{{user.first_name}} {{user.last_name}}</td>
           <td>{{user.email}}</td>
           <td>{{user.created_at}}</td>
           <td>{{user.password}}</td>
           <td><a href="{% url 'users:show' user.id %}">Show</a>
               <a href="{% url 'users:edit' user.id %}">Edit</a>
               <a href="{% url 'users:destroy' user.id %}">Delete</a>
           </td>
         </tr>
        {% endfor %}
  </tbody>
</table>

     <a href="{% url 'users:add' %}">Add New User</a>
     <a href="{% url 'register:index' %}">Register</a>
     <a href="{% url 'login:index' %}">Login</a>
</body>
</html>
